html, body {
    background-color: rgb(245, 245, 245) !important;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.space-on-left {
    margin-left: 20px;
}

#homepage {
    background: url('../images/car.jpg') no-repeat;
    height: 800px;
    background-size: cover;
    background-position: center;
}

#homepageContainer {
    padding-top: 250px;
}

.welcomeH1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    margin: 0px;
    font-weight: 900;
    -webkit-text-stroke: 1px #007bff;
    color: rgb(255, 255, 255);
}

.vehicleCards {
    cursor: pointer;
}

.vehicleCards:hover {
    border-color: #007bff !important;
    color: #007bff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.searchComponentIcons {
    color: #007bff;
    margin: 0px 10px;
    margin-top: 10px;
}

#searchButton {
    border: 1px #bdbdbd solid;
    background-color: white;
}

#modalDiv {
    padding: 10px;
}

#modalDiv > p {
    font-size: 10px;
}

@media only screen and (max-width: 767px) {
    .min-padding {
        padding: 10px;
    }
}

.message {
    display: none;
}

//UserProfile css
.profile{

}